* {
    padding: 0;
    margin: 0;
    font-family: Montserrat, Arial, sans-serif;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    height: 1024px;
    position: relative;
}

.navigation {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 56px;
    align-items: center;    
}

.logo {
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    letter-spacing: -1.36px;
    font-size: 34px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.logo:hover,
.logo:active,
.logo:focus {
    color: #c7b299;
    outline: none;
}

.logo__img {
    fill: #fff;
}

.logo:hover .logo__img,
.logo:active .logo__img,
.logo:focus .logo__img {
    fill: #c7b299;
}

.navigation__inner {
    width: 770px;
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 637px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link {
    color: #fff;
}

.menu__link:hover,
.menu__link:active,
.menu__link:focus {
    color: #c7b299;
    outline: none;
}

.navigation__icons {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.navigation__icon-link {
    display: block;
    line-height: 0;
}

.navigation__icon-link:hover,
.navigation__icon-link:active,
.navigation__icon-link:focus {
    outline: none;
}

.navigation__icon-img {
    fill: #fff;
}

.navigation__icon-link:hover .navigation__icon-img,
.navigation__icon-link:active .navigation__icon-img,
.navigation__icon-link:focus .navigation__icon-img {
    fill: #c7b299;
}

.header__description {
    position: relative;
    z-index: 2;
    margin: 280px auto 0;
    text-align: center;
    max-width: 590px;
}

.header__top-text {
    font-family: Raleway, Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
}

.header__title {
    font-family: Raleway, Arial, sans-serif;
    font-size: 52px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 15px;
}

.header__bottom-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
    margin-bottom: 50px;
}

.header__button {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    color: #ffffff;
    font-family: Raleway, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 53px;
    display: block;
    width: 170px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    text-align: center;
    text-transform: uppercase;
}

.header__button:hover,
.header__button:active,
.header__button:focus {
    outline: none;
    line-height: 55px;
    width: 172px;
    margin-top: -1px;
}

.header__dots {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 38px;
    width: 100%;
    line-height: 0;
    display: flex;
    justify-content: center;
}

.header__dot {
    margin: 0 3px;
}

.header__dot-input {
    display: none;
}

.header__dot-label {
    background: #fff;
    opacity: 0.5;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    border: 2px solid transparent;
    background-clip: content-box;
}

.header__dot-input:checked + .header__dot-label {
    border: 2px solid #d3c1ad;
    background: none;
    opacity: 1;
}

.header__arrows {
    position: absolute;
    left: 0;
    bottom: 476px;
    z-index: 2;
    width: 100%;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 0; 
}

.header__arrow {
    cursor: pointer;
}

.header__arrow-img {
    fill: #fff;
    opacity: 0.5;
}

.header__arrow-img:hover {
    fill: #d3c1ad;
    opacity: 1;
}

.header__bg {
    background: url(../img/slider.jpg) center top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.header__bg::before {
    content: "";
    background: rgba(17, 17, 17, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 110px;
}

.advantages__item {
    width: 266px;
    text-align: center;
    position: relative;
}

.advantages__item::before {
    content: "";
    width: 70px;
    height: 3px;
    background: #f1eee9;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
}

.advantages__item:hover::before {
    background: #c7b299;
}

.advantages__item-img {
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__item-icon {
    fill: #555;
}

.advantages__item:hover .advantages__item-icon {
    fill: #c7b299;
}

.advantages__item-title {
    padding-top: 25px;
    padding-bottom: 15px;
    color: #555;
    font-size: 22px;
    font-weight: 600;
    font-family: Raleway, Arial, sans-serif;
}

.advantages__item:hover .advantages__item-title {
    color: #c7b299;
}

.advantages__item-text {
    line-height: 24px;
}

.realization {
    padding-top: 80px;
    box-sizing: border-box;
    text-align: center;
    background: #fbfaf8;
}

.realization__title {
    font-size: 30px;
    font-weight: 600;
    font-family: Raleway, Arial, sans-serif;
    color: #555;
}

.realization__text {
    font-size: 16px;
    line-height: 28px;
    max-width: 770px;
    margin: 0 auto;
    padding-top: 15px;
}

.realization__bg {
    width: 1230px;
    height: 482px;
    padding-top: 32px;
    margin: 0 auto;
    background: url(../img/browser-center.jpg) center bottom no-repeat,
                url(../img/browser-left.jpg) left bottom no-repeat,
                url(../img/browser-right.jpg) right bottom no-repeat;
}

.advertisement {
    background: url(../img/background.png) center top no-repeat;
}

.advertisement__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.advertisement__title {
    font-family: Raleway, Arial, sans-serif;
    font-size: 28px;
    color: #fff;
    font-weight: 400;
}

.advertisement__title span {
    font-family: Raleway, Arial, sans-serif;
    font-size: 28px;
    color: #c7b299;
    font-weight: 400;
}

.advertisement__text {
    font-size: 18px;
    color: #615855;
    padding-top: 5px;
}

.advertisement__link {
    line-height: 50px;
    width: 170px;
    background: #988574;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.advertisement__link:hover,
.advertisement__link:active,
.advertisement__link:focus {
    line-height: 52px;
    width: 172px;
    margin-right: -1px;
    outline: none;
}

.projects {
    padding: 80px 0;
}

.projects__title {
    font-size: 30px;
    font-weight: 600;
    font-family: Raleway, Arial, sans-serif;
    color: #555;
    text-align: center;
}

.projects__text {
    max-width: 770px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}

.projects__tabs {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.projects__tab {
    padding: 0 15px;
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 3px;
    margin: 0 5px;
    line-height: 30px;
    cursor: pointer;
}

.projects__tab.active {
    background: #998575;
    border: 1px solid #998575;
    color: #fff;
}

.projects__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.projects__item {
    margin-bottom: 30px;
}

.projects__item-img {
    line-height: 0;
    position: relative;
    overflow: hidden;
}

.projects__item-img::before {
    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #fbf9f7;
    position: absolute;
    left: 19px;
    bottom: 0;
}

.projects__item:hover .projects__item-img::before {
    border-bottom: 10px solid #352f2d;
    z-index: 2;
}

.projects__item:hover .projects__item-img::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.7);
}

.projects__item:hover img {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.projects__item-icons {
    position: absolute;
    top: 106px;
    left: 144px;
    width: 82px;
    display: none;
}

.projects__item:hover .projects__item-icons {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.projects__item-icon {
    fill: #fff;
    cursor: pointer;
}

.projects__item-icon:hover {
    fill: #c7b299;
}

.projects__item-description {
    height: 100px;
    background: #fbf9f7;
    padding: 25px;
    box-sizing: border-box;
}

.projects__item:hover .projects__item-description {
    background: #352f2d;
}

.projects__item-title {
    font-family: Raleway, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #c7b299;
}

.projects__item:hover .projects__item-title {
    color: #fff;
}

.projects__item-text {
    padding-top: 5px;
    line-height: 20px;
    color: #d1d1d1;
}

.projects__item:hover .projects__item-text {
    color: #c7b299;
}

.projects__button {
    margin: 10px auto 0;
    display: block;
    font-family: Raleway, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    border: none;
    line-height: 50px;
    width: 170px;
    background: #988574;
    box-shadow: inset 0 -3px 0 #726257;
    border-radius: 3px;
    cursor: pointer;
}

.projects__button:hover,
.projects__button:active,
.projects__button:focus {
    line-height: 52px;
    width: 172px;
    margin-top: 9px;
    margin-bottom: -1px;
    outline: none;
}

.presentation {
    position: relative;
    line-height: 0;
    max-height: 705px;
    overflow: hidden;
    text-align: center;
}

.presentation::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.5);
}

.presentation__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 210px;
    box-sizing: border-box;
    z-index: 2;
}

.presentation__play {
    background: rgba(17, 17, 17, 0.4);
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.presentation__play:hover,
.presentation__play:active,
.presentation__play:focus {
    outline: none;
    transform: rotate(360deg);
    transition: transform 0.5s;
}

.presentation__play-img {
    fill: #fff;
}

.presentation__play:hover .presentation__play-img {
    fill: #c7b299;
}

.presentation__title {
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-top: 40px;
    line-height: 30px;
}

.presentation__text {
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    margin: 25px auto 0;
    max-width: 570px;
}

.presentation__time {
    margin-top: 35px;
    color: #c7b299;
    line-height: 24px;
}

.presentation__video {
    width: 100%;
    height: 705px;
    object-fit: cover;
}

.mobile-devices {
    max-width: 1160px;
    padding-top: 190px;
    padding-bottom: 196px;
    padding-left: 485px;
    background: url(../img/iphone.png) left bottom no-repeat;
    box-sizing: border-box;
}

.mobile-devices__title {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555;
    padding-bottom: 20px;
}

.mobile-devices__text {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 49px;
}

.mobile-devices__list {
    padding-left: 67px;
}

.mobile-devices__item {
    display: flex;
    line-height: 21px;
    font-size: 16px;
    margin-bottom: 10px;
}

.mobile-devices__item::before {
    content: "";
    background: url(../img/list-icon.png) center center no-repeat;
    width: 21px;
    height: 21px;
    margin-right: 7px;
}

.results {
    background: url(../img/background.png) center top repeat;
}

.results__list {
    max-width: 786px;
    margin: 0 auto;
    padding: 36px 0 34px;
    display: flex;
    justify-content: space-between;
}

.results__item {
    text-align: center;
}

.results__item::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #FFF;
    display: block;
    margin: 15px auto 0;
}

.results__item-number {
    font-size: 48px;
    line-height: 59px;
    color: #FFF;
}

.results__item-text {
    line-height: 17px;
    color: #C7B299;
}

.posts {
    text-align: center;
    padding: 100px 0 38px;
}

.posts__title {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555;
    padding-bottom: 20px;
}

.posts__text {
    font-size: 16px;
    line-height: 28px;
    max-width: 770px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.posts__list {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.posts__item {
    border: 1px solid #B3B3B3;
    width: 370px;
    text-align: left;
}

.posts__item:hover {
    border: 1px solid #352f2d;
    background: #352f2d;
}

.posts__item-img {
    line-height: 0;
    position: relative;
    overflow: hidden;
}

.posts__item:hover .posts__item-img::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.7);
}

.posts__item:hover img {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.calendar {
    position: absolute;
    top: 17px;
    left: 23px;
    width: 59px;
    text-align: center;
    z-index: 2;
}

.calendar-day {
    font-size: 30px;
    line-height: 33px;
    color: #FFF;
    background: #363636;
    border-radius: 3px 3px 0 0;
}

.posts__item:hover .calendar-day {
    background: #C7B199;
}

.calendar-month {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 25px;
    color: #FFF;
    background: #242424;
    border-radius: 0px 0px 3px 3px;
}

.posts__item:hover .calendar-month {
    background: #A48D71;
}

.posts__item-title {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #555;
    padding: 31px 23px 22px;
}

.posts__item:hover .posts__item-title {
    color: #C7B299;
}

.posts__item-text {
    line-height: 22px;
    color: #000;
    padding: 0 23px 17px;
}

.posts__item:hover .posts__item-text {
    color: #fff;
}

.posts__item-link {
    line-height: 17px;
    color: #C7B299;
    display: flex;
    margin: 0 23px 22px;
    align-items: center;
    max-width: 90px;
}

.posts__item-link::after {
    content: "";
    border-top: 4px solid transparent;
    border-left: 5px solid #C7B299;
    border-bottom: 4px solid transparent;
    margin-left: 8px;
}

.posts__item-link:hover,
.posts__item-link:active,
.posts__item-link:focus {
    outline: none;
}

.posts__arrows {
    margin-top: 54px;
    display: flex;
    justify-content: center;
}

.posts__arrows-icon {
    margin: 0 9px;
    background: url(../img/arrow.png) center center no-repeat;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border: none;
    outline: none;
}

.posts__arrows-icon:first-child:hover,
.posts__arrows-icon:first-child:active,
.posts__arrows-icon:first-child:focus {
    background: url(../img/arrow-hover.png) center center no-repeat;
}

.posts__arrows-icon:last-child {
    transform: rotate(180deg);
}

.posts__arrows-icon:last-child:hover,
.posts__arrows-icon:last-child:active,
.posts__arrows-icon:last-child:focus {
    background: url(../img/arrow-hover.png) center center no-repeat;
}

.clients {
    background: url(../img/clients.jpg) center top no-repeat;
    min-height: 489px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients__list {
    display: flex;
    justify-content: center;
}

.clients__item {
    margin: 0 37px;
    min-height: 210px;
    display: flex;
    align-items: center;
}

.clients__link:hover .clients__img {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.footer__top {
    background: #191919;
    padding: 74px 0 128px;
}

.footer__container {
    max-width: 1248px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__col {
    width: 270px;
}

.footer__logo {
    font-family: Raleway, Arial, sans-serif;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    max-width: 195px;
}

.footer__logo:hover,
.footer__logo:active,
.footer__logo:focus {
    color: #c7b299;
    outline: none;
}

.footer__logo-img {
    fill: #fff;
    margin-right: 11px;
}

.footer__logo:hover .footer__logo-img,
.footer__logo:active .footer__logo-img,
.footer__logo:focus .footer__logo-img {
    fill: #c7b299;
}

.footer__text {
    line-height: 17px;
    color: #555;
    margin: 18px 0;
}

.footer__link {
    line-height: 17px;
    color: #D1D1D1;
    display: flex;
    align-items: center;
    max-width: 90px;
}

.footer__link::after {
    content: "";
    border-top: 4px solid transparent;
    border-left: 5px solid #D1D1D1;
    border-bottom: 4px solid transparent;
    margin-left: 7px;
}

.footer__link:hover,
.footer__link:active,
.footer__link:focus {
    color: #c7b299;
    outline: none;
}

.footer__link:hover::after,
.footer__link:active::after,
.footer__link:focus::after {
    border-left: 5px solid #c7b299;
}

.footer__col-title {
    padding-top: 33px;
    padding-bottom: 12px;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.footer__col-item {
    border-bottom: 1px solid #242424;
    padding-top: 12px;
    padding-bottom: 16px;
}

.footer__col-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.footer__col-link:hover,
.footer__col-link:active,
.footer__col-link:focus {
    outline: none;
}

.footer__col-pubdate {
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    padding-bottom: 6px;
    display: block;
}

.footer__col-text {
    line-height: 17px;
    color: #555;
}

.footer__col-link:hover .footer__col-pubdate,
.footer__col-link:active .footer__col-pubdate,
.footer__col-link:focus .footer__col-pubdate {
    color: #fff;
}

.footer__col-link:hover .footer__col-text,
.footer__col-link:active .footer__col-text,
.footer__col-link:focus .footer__col-text {
    color: #C7B299;
}

.footer__col-twitter {
    color: #757575;
    line-height: 17px;
}

.footer__col-twitter:hover,
.footer__col-twitter:active,
.footer__col-twitter:focus {
    color: #00BFF3;
    outline: none;
}

.footer__col-time {
    padding-top: 6px;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
}

.footer__widget {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 268px;
    margin-top: 11px;
}

.footer__widget-item {
    line-height: 0;
    margin-bottom: 8px;
}

.footer__widget-link:hover,
.footer__widget-link:active,
.footer__widget-link:focus {
    outline: none;
}

.footer__bottom {
    background: #101010;
    padding-top: 58px;
    padding-bottom: 41px;
}

.footer__bottom-list {
    max-width: 1248px;
    margin: 0 auto;
    display: flex;
}

.footer__bottom-item {
    padding: 0 12px;
    border-right: 1px solid #1A1A1A;
    font-size: 13px;
    line-height: 16px;
    color: #555;
}

.footer__bottom-item:first-child {
    padding-left: 0;
}

.footer__bottom-item:last-child {
    border-right: none;
}

.footer__bottom-link {
    font-size: 13px;
    line-height: 16px;
    color: #555;
}

.footer__bottom-link:hover,
.footer__bottom-link:active,
.footer__bottom-link:focus {
    color: #BAA78F;
    outline: none;
}

@media (max-width: 1320px) {
    .navigation {
        padding: 40px 15px 0;
        max-width: 100%;
    }

    .header__arrows {
        padding: 0 50px;
    }

    .advantages__list {
        flex-wrap: wrap;
        justify-content: center;
        padding: 80px 0 0;
    }

    .advantages__item {
        margin: 0 15px 70px;
    }

    .realization__bg {
        width: 100%;
    }

    .advertisement__container {
        max-width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .projects__list {
        justify-content: center;
    }

    .projects__item {
        margin: 0 15px 30px;
    }

    .mobile-devices {
        max-width: 100%;
        padding-right: 15px;
        background: url(../img/iphone.png) 15px bottom no-repeat;
        padding-left: 350px;
        background-size: 30%;
    }

    .mobile-devices__text {
        max-width: 675px;
    }

    .mobile-devices__list {
        padding-left: 30px;
    }

    .posts__list {
        max-width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: center;
    }

    .posts__item {
        margin: 0 15px 30px;
    }

    .posts__arrows {
        margin-top: 24px;
    }

    .clients__list {
        flex-wrap: wrap;
    }

    .clients__item img {
        max-width: 150px;
        height: auto;
    }

    .footer__top {
        padding: 74px 0 98px;
    }

    .footer__container {
        max-width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__col {
        margin: 0 15px 30px;
    }

    .footer__bottom-list {
        max-width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
}

@media (max-width: 1050px) {

    .navigation__inner {
        position: relative;
    }

    .navigation__inner::before {
        content: "";
        width: 30px;
        height: 3px;
        background: #fff;
        position: absolute;
        top: -10px;
        right: 0;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        padding: 5px 0;
        background-clip: content-box;
        cursor: pointer;
    }

    .navigation__inner:hover::before {
        content: "";
        width: 30px;
        height: 3px;
        background: #c7b299;
        position: absolute;
        top: -10px;
        right: 0;
        border-top: 3px solid #c7b299;
        border-bottom: 3px solid #c7b299;
        padding: 5px 0;
        background-clip: content-box;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .navigation__icons {
        display: none;
    }

    .header__arrows {
        display: none;
    }

    .realization__text {
        padding: 15px 15px 0;
    }

    .mobile-devices {
        background: none;
        padding-left: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .mobile-devices__title {
        padding-bottom: 30px;
    }

    .mobile-devices__text {
        margin: 0 auto;
        max-width: 580px;
        text-align: left;
        padding-bottom: 30px;
    }

    .mobile-devices__list {
        padding-left: 0;
        max-width: 580px;
        margin: 0 auto;
    }

    .results__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .results__item {
        margin: 0 15px;
    }

    .results__item-number {
        font-size: 30px;
    }

    .posts__text {
        padding: 0 15px 30px;
    }

    .footer__bottom-list {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .header__title {
        font-size: 48px;
    }

    .advertisement__inner {
        max-width: 350px;
    }

    .mobile-devices__item {
        text-align: left;
    }
}